/*--------------------------------------------------------------
  1. Name
----------------------------------------------------------------*/
.name-gradient {
    background: linear-gradient(to right, #DA4453, #89216B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Keeps the gradient only on text */
    font-size: 3.5rem; /* Adjust the font size as necessary */
    font-weight: bold; /* Make the name bold */
}

.name-tag{
    margin-top: -16px;
    margin-bottom: -8px;
}
.first-name {
    font-family: 'Praveen', sans-serif; /* Customize the font family */
}

.last-name {
    font-family: 'Lenkalapelly', sans-serif; /* Customize the font family */
    margin-left: 16px;
}

.profile-circle {
    width: 400px;  /* Adjust the size as needed */
    height: 400px; /* Make sure width and height are the same for a perfect circle */
    border-radius: 50%; /* This makes the div circular */
    overflow: hidden; /* Ensures the image doesn’t exceed the boundary of the div */
    border: 5px solid #FFFFFF; /* Adjust the color and size of the border */
    box-shadow: 0 0 8px rgba(0,0,0,0.6); /* Optional: Adds shadow for a lifted effect */
    display: flex; /* Centering the image horizontally */
    align-items: center; /* Centering the image vertically */
    justify-content: center;
  }
  
  .profile-circle img {
    width: auto;  /* Ensures the image maintains aspect ratio */
    height: 100%; /* This will cover the div vertically */
  }
  
