/* styles.css */
.vertical-timeline::before {
    background-color: #525061!important;  /* Tailwind's bg color, replace with your desired color */
  }
  
  .vertical-timeline::after {
    background-color: #525061 !important;  /* Tailwind's bg color, replace with your desired color */
  }
  
  .vertical-timeline-element-content .vertical-timeline-element-date{
    color:#525061 !important;
  }
  